<!DOCTYPE html>
<html>
	<head>
		<meta content = "text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>

	<body>
		<h1>A Message From A Website Visitor!</h1>
		<p>
			<h2>The visitor's contact information:</h2>
		</p>
		<p>
			<%= @contact.name %><br/>
			<%= @contact.email %><br/>
		</p>

		<p>
			<h2>The visitor said:</h2>
		</p>
		<p>
			<%= @contact.content %>
		</p>

	</body>
</html>

