<% content_for :title do %>Hoan Cai<% end %>
<% content_for :description do %>Hoan Cai Homepage <% end %>


<section>
<div class="row">


<h2>Work.work.work</h2>

</div>
</section>

<br/>

<section>
	
	<div class="row">
	
	<h2>Suscribe to my updates!</h2>
		<div class="form">
			<%= simple_form_for @visitor do |f| %>
				<%= f.error_notification %>
				<%= f.input :email, label: false, :placeholder => 'Your e-mail address...' %>
				<br/>
				<%= f.button :submit, "Sign up for updates!", :class => "submit" %>

		<% end %>
		</div>
	</div>
</section>