<% content_for :title do %>About<% end %>
<section>
<div class="row">

<%= image_tag "mymug.jpg" %>

<h2>About Me</h2>
<p>I currently reside in sunny Pleasant Hill, CA where I hide from the cold winds and gloomy clouds that hover over the bay area. I attended the University of the Pacific and hold a degree in Electrical Engineering and a Minor in Engineering Management. During my time at UOP, I worked at GAF Inc. and CDM focusing on Instrumentation and Controls engineering. I've also obtained the CISSP certification for cyber and information security. I'm currently employed with Scwheitzer Engineering Laboratories in Vacaville, CA as the Lead for the automation engineering group. 
<br>
I enjoy sitting at my computer with a large cup of coffee and some tunes coming through a good pair of headphones.</p>
</div>
</section>


